@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.img-couple-collection {
  background-image: url(https://sadida.s3.ap-southeast-2.amazonaws.com/couple-collection-sm.webp);
  background-size: 640px 500px;
  background-repeat: no-repeat;
  width: 640px;
  height: 500px;
}
@media (min-width: 640px) {
  .img-couple-collection {
    background-image: url(https://sadida.s3.ap-southeast-2.amazonaws.com/couple-collection-md.png);
    background-size: 768px 548px;
    background-repeat: no-repeat;
    width: 768px;
    height: 548px;
  }
}
@media (min-width: 768px) {
  .img-couple-collection {
    background-image: url(https://sadida.s3.ap-southeast-2.amazonaws.com/couple-collection-lg.png);
    background-size: 1024px 617px;
    background-repeat: no-repeat;
    width: 1024px;
    height: 617px;
  }
}
@media (min-width: 1024px) {
  .img-couple-collection {
    background-image: url(https://sadida.s3.ap-southeast-2.amazonaws.com/couple-collection-xxl.png);
    background-size: 3008px 624px;
    background-repeat: no-repeat;
    width: 3008px;
    height: 624px;
  }
}
.img-glass-material-promo {
  background-image: url(https://sadida.s3.ap-southeast-2.amazonaws.com/glass-material-promo-sm.png);
  background-size: 768px 500px;
  width: 768px;
  height: 500px;
}
@media (min-width: 768px) {
  .img-glass-material-promo {
    background-image: url(https://sadida.s3.ap-southeast-2.amazonaws.com/glass-material-promo-md.png);
    background-size: 506px 490px;
    width: 506px;
    height: 490px;
  }
}
@media (min-width: 1024px) {
  .img-glass-material-promo {
    background-image: url(https://sadida.s3.ap-southeast-2.amazonaws.com/glass-material-promo-lg.png);
    background-size: 1262px 580px;
    width: 1262px;
    height: 580px;
  }
}

.img-silicon-v2-material-promo {
  background-image: url(https://sadida.s3.ap-southeast-2.amazonaws.com/silicon-v2-material-promo-sm.jpg);
  background-size: 768px 500px;
  width: 768px;
  height: 500px;
}
@media (min-width: 768px) {
  .img-silicon-v2-material-promo {
    background-image: url(https://sadida.s3.ap-southeast-2.amazonaws.com/silicon-v2-material-promo-md.jpg);
    background-size: 506px 490px;
    width: 506px;
    height: 490px;
  }
}
@media (min-width: 1024px) {
  .img-silicon-v2-material-promo {
    background-image: url(https://sadida.s3.ap-southeast-2.amazonaws.com/silicon-v2-material-promo-lg.png);
    background-size: 1262px 580px;
    width: 1262px;
    height: 580px;
  }
}

.img-eye-promo {
  background-image: url(https://sadida.s3.ap-southeast-2.amazonaws.com/eye-promo-sm.png);
  background-size: 768px 500px;
  width: 768px;
  height: 500px;
}
@media (min-width: 768px) {
  .img-eye-promo {
    background-image: url(https://sadida.s3.ap-southeast-2.amazonaws.com/eye-promo-md.png);
    background-size: 506px 490px;
    width: 506px;
    height: 490px;
  }
}
@media (min-width: 1024px) {
  .img-eye-promo {
    background-image: url(https://sadida.s3.ap-southeast-2.amazonaws.com/eye-promo-lg.png);
    background-size: 1262px 580px;
    width: 1262px;
    height: 580px;
  }
}

.img-color-promo {
  background-image: url(https://sadida.s3.ap-southeast-2.amazonaws.com/color-promo-sm.png);
  background-size: 768px 500px;
  width: 768px;
  height: 500px;
}
@media (min-width: 768px) {
  .img-color-promo {
    background-image: url(https://sadida.s3.ap-southeast-2.amazonaws.com/color-promo-md.png);
    background-size: 506px 490px;
    width: 506px;
    height: 490px;
  }
}
@media (min-width: 1024px) {
  .img-color-promo {
    background-image: url(https://sadida.s3.ap-southeast-2.amazonaws.com/color-promo-lg.png);
    background-size: 1262px 580px;
    width: 1262px;
    height: 580px;
  }
}
.canvas {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  filter: contrast(500%);
  background: repeating-radial-gradient(
    circle at 0 -25%,
    rgba(255, 255, 255, 1),
    #333 0.125em,
    rgba(255, 255, 255, 1) 0.25em
  );
}
/*
.canvas::after {
  opacity: 0;
  content: "";
  display: block;
  z-index: 30;
  filter: contrast(120%);
  position: absolute;
  background: url("https://sadida.s3.ap-southeast-2.amazonaws.com/background.png");
  object-position: center;
  background-size: 640px 500px;
  background-repeat: no-repeat;
  width: 640px;
  height: 500px;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
}

@media (min-width: 640px) {
  .canvas::after {
    background-image: url("https://sadida.s3.ap-southeast-2.amazonaws.com/background.png");
    background-size: 768px 548px;
    background-repeat: no-repeat;
    width: 768px;
    height: 548px;
  }
}
@media (min-width: 768px) {
  .canvas::after {
    background-image: url("https://sadida.s3.ap-southeast-2.amazonaws.com/background.png");
    background-size: 1024px 617px;
    background-repeat: no-repeat;
    width: 1024px;
    height: 617px;
  }
}
@media (min-width: 1024px) {
  .canvas::after {
    background-image: url("https://sadida.s3.ap-southeast-2.amazonaws.com/background.png");
    background-size: 3008px 624px;
    background-repeat: no-repeat;
    width: 3008px;
    height: 624px;
  }
}
*/
.canvas img {
  filter: grayscale(1) brightness(90%) contrast(150%) blur(3px);
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  mix-blend-mode: hard-light;
}

@keyframes canvasAnimation {
  0% {
    filter: contrast(500%);
    background: repeating-radial-gradient(
      circle at 0 -25%,
      rgba(255, 255, 255, 1),
      #333 0.125em,
      rgba(255, 255, 255, 1) 0.25em
    );
  }
  100% {
    filter: contrast(1);
    background: repeating-radial-gradient(
      circle at 0 -25%,
      rgba(255, 255, 255, 1),
      #333 0.125em,
      rgba(255, 255, 255, 1) 0.25em
    );
    background-position: 100% 50%;
  }
}

@keyframes imgAnimation {
  0% {
    filter: grayscale(1) brightness(90%) contrast(150%) blur(3px);
  }
  100% {
    filter: grayscale(0) brightness(100%) contrast(1) blur(0);
  }
}

@keyframes backdropAnimate {
  0% {
    opacity: 0;
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.trigger-canvas-animation {
  animation: canvasAnimation 3s forwards;
}
.trigger-canvas-img-animation {
  animation: imgAnimation 3s forwards;
}
.trigger-canvas-animation::after {
  animation: backdropAnimate 3s forwards;
}
